<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat app</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
      }

      .head {
        padding: 10px;
        border-bottom: 1px solid rgb(0 0 0 / 8%);
        font-size: 70px;
        font-family: monospace;
        font-weight: 500;
        box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
      }

      .name {
        border: 1px solid #f1f1f1;
        border-right: none;
        font-size: 20px;
        padding: 0px 10px;
        outline: none;
        box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
      }

      .cr {
        border: 1px solid #f1f1f1;
        border-left: none;
        color: #4a4aef;
        background-color: white;
        padding: 10px;
        font-size: 20px;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
      }

      .cr:hover {
        background-color: rgb(8, 128, 8);
        color: white;
      }

      .room {
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        margin: 30px 5%;
        box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
        border-radius: 7px;
      }

      .btns {
        display: flex;
      }

      .room-name {
        padding: 10px;
        font-size: 20px;
      }

      .room a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        color: #4a4aef;
        border-right: 1px solid #f7f7f7;
      }

      .room a:hover {
        color: white;
        background-color: rgb(8, 128, 8);
      }

      .room button {
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border: none;
        font-size: 20px;
        padding: 10px;
        background-color: white;
        color: red;
      }

      .room button:hover {
        color: white;
        background-color: red;
      }
      @media screen and (max-width: 700px) {
        .head {
          font-size: 2rem;
        }

        .name,
        .cr,
        .room-name {
          font-size: 0.7em;
        }

        .room a {
          font-size: 15px;
        }

        .room button {
          font-size: 15px;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1 class="head">Chat app</h1>
    </header>

    <section>
      <!--create room-->
      <form
        action="/create-room"
        method="POST"
        style="margin: 40px 2%; display: flex"
      >
        <input
          type="text"
          class="name"
          name="name"
          placeholder="Write here..."
          required
        />
        <button type="submit" class="cr">Create Room</button>
      </form>
    </section>

    <section>
      <% roomName.forEach(function (e) {%>
      <!--room name-->
      <div class="room">
        <p class="room-name"><%= e.roomName %></p>
        <!-- buttons -->
        <div class="btns">
          <a href="/chat/<%=e.slug %>">Join Room</a>
          <form action="/<%= e.id %>?_method=DELETE" method="POST">
            <button type="submit" href="/<%= e.id %>" class="btn">
              Delete
            </button>
          </form>
        </div>
      </div>
      <%})%>
    </section>
  </body>
</html>
