<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat app</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
      }

      .head {
        padding: 10px;
        border-bottom: 2px solid black;
      }

      .name {
        border: 1px solid;
        border-right: none;
        font-size: 20px;
        padding: 0px 10px;
        outline: none;
      }

      .cr {
        border: 1px solid black;
        border-left: none;
        background-color: #4a4aef;
        color: white;
        padding: 10px;
        font-size: 20px;
      }

      .cr:hover {
        background-color: rgb(8, 128, 8);
      }

      .room {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        margin: 10px;
      }

      .btns {
        display: flex;
      }

      .room-name {
        padding: 10px;
        font-size: 20px;
      }

      .room a {
        font-size: 20px;
        color: white;
        text-decoration: none;
        padding: 10px;
        background-color: #4a4aef;
      }

      .room a:hover {
        background-color: rgb(8, 128, 8);
      }

      .room button {
        border: none;
        font-size: 20px;
        padding: 10px;
        color: white;
        background-color: red;
      }
    </style>
  </head>
  <body>
    <h1 class="head">Chat app</h1>

    <!--create room-->
    <form
      action="/create-room"
      method="POST"
      style="margin: 25px 10px; display: flex"
    >
      <input type="text" class="name" name="name" />
      <button type="submit" class="cr">Create Room</button>
    </form>

    <% roomName.forEach(function (e) {%>
    <!--room name, buttons(join, delete)-->
    <div class="room">
      <p class="room-name"><%= e.roomName %></p>
      <div class="btns">
        <a href="/chat/<%=e.roomName %>">Join</a>
        <form action="/<%= e.id %>?_method=DELETE" method="POST">
          <button type="submit" href="/<%= e.id %>">Delete</button>
        </form>
      </div>
    </div>
    <%})%>
  </body>
</html>
